---
layout: default
---

Hello, and thank you for visiting. I am not a fan of writing long self descriptions. To be completely honest, I don't enjoy reading them either. I feel it's more enjoyable and honest to know a person based on his or hers opinions. Therefore, I will keep this page on a more sober tone and invite you to read my <a target="_blank" class="header_footer" href="http://blog.antoniolutfi.com.br">blog</a> for the full picture.
<br><br><br>


<h1>Resume and Portfolio</h1>

Brazilian citizen, born Oct 19<sup>th</sup>, 1985.

<p class="text">
    <br>
    <b>MSc Informatics</b> at Pontifical Catholic University
    (Rio de Janeiro, Brazil). April 2015.
    <br>
    <b>BSc Computer Science</b> at Pontifical Catholic University
    (Rio de Janeiro, Brazil). July 2010.  
    <br>
</p>

<p class="text">
    Computer Languages:
    <span class="skill">C</span> | <span class="skill">C++</span> |
    <span class="skill">C#</span> | <span class="skill">Python</span> |
    <span class="skill">R</span> | <span class="skill">Delphi/Pascal</span> |
    <span class="skill">Java</span> | <span class="skill">SQL</span>
    <br>Human Languages: Native Portuguese | English (TOEFL IBT 115/120)
</p><br><br>
    
<!--<table style= cellpadding="0" cellspacing="20" border="0">
      <tr>
        <td width="50%" valign="top">-->
          <h1>Current Employment</h1>
          {% for post in site.categories.current %}
              <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
          {{ post.excerpt }}<br>
          {% endfor %}
          <hr>
          <h1>Previous Employment</h1>
          {% for post in site.categories.previous %}
              <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
          {{ post.excerpt }}<br>
          {% endfor %}
          <hr>
          
          <h1>Documents and Publications</h1>
          {% for post in site.categories.thesis %}
              <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
          {{ post.excerpt }}<br>
          {% endfor %}
          
          {% for post in site.categories.documents %}
              <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
          {{ post.excerpt }}<br>
          {% endfor %}
        <!--</td>
        <td width="50%" valign="top">-->
          <hr>
          {% for post in site.categories.courses %}
              <h1>
              {{ post.title }}
              </h1>
          {{ post.excerpt }}<br>
          {% endfor %}
          <hr>
          <h1>Programming Portfolio</h1>
          These are programs that I either coded for work, fun or both. Anything done under contract is here after owner's consent. <br><br>
          {% for post in site.categories.portfolio %}
              <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
          {{ post.excerpt }}<br>
          {% endfor %}
        <!--</td>
        
      </tr>
    </table>-->
  
  


