---
layout: default
---

<h1>Resume and Portfolio</h1>

{% for post in site.categories.info %}
{{ post.excerpt }}
{% endfor %}

<br>
    
<!--<table style= cellpadding="0" cellspacing="20" border="0">
      <tr>
        <td width="50%" valign="top">-->
          <h1><a href="latestEmployment.html">Latest Employment</a></h1>
          {% for post in site.categories.latest %}
              <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
          {{ post.excerpt }}<br>
          {% endfor %}
          <hr>
          <h1><a href="previousEmployment.html">Previous Employment</a></h1>
          {% for post in site.categories.previous %}
              <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
          {{ post.excerpt }}<br>
          {% endfor %}
          <hr>
          
          <h1><a href="docPublish.html">Documents and Publications</a></h1>
                    
          {% for post in site.categories.document %}
              <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
          {{ post.excerpt }}<br>
          {% endfor %}
        <!--</td>
        <td width="50%" valign="top">-->
          <hr>
          {% for post in site.categories.courses %}
              <h1>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h1>
          {{ post.excerpt }}<br>
          {% endfor %}
          <hr>
          <h1><a href="portfolio.html">Programming Portfolio</a></h1>
          These are programs that I either coded for work, fun or both. Anything done under contract is here after owner's consent. <br><br>
          {% for post in site.categories.portfolio %}
              <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
          {{ post.excerpt }}<br>
          {% endfor %}
        <!--</td>
        
      </tr>
    </table>-->
  
  


