<head>
	<title>{{ site.title }}{% unless page.title == "Home" %} | {{page.title}}{% endunless %}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->
	
	<meta name="description" {% if page.description %} content="{{ page.description }}" {% else %} content="{{ site.description }}"{% endif %} />
	
	<meta name="author" content="{{ site.author }}" />
	<meta name="copyright" content="{{ site.author }}" />	
	
	{% if page.title == "All Posts" %}
	<meta name="robots" content="noindex"/>
	<meta name="robots" content="nofollow"/>
	
	{% endif %}
	
	
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:url" content="{{ page.url | absolute_url }}" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="{{ page.description }}" />
	{% if page.thumb %}
	<meta property="og:image" content="{{ page.thumb | absolute_url }}" />
	{% elsif page.imagesmall %}
	<meta property="og:image" content="{{ page.imagesmall | absolute_url }}" />
	{% elsif page.image %}
	<meta property="og:image" content="{{ page.image | absolute_url }}" />
	{% else %}
	<meta property="og:image" content="{{ site.baseurl }}/wiremess.jpg" />
	
	{% endif %}
	<meta property="og:site_name" content="{{site.title}}" />
	
</head>
