<ul class="icons" style="margin-bottom: 1em;">
    <li>
        <a href="{{ site.url }}/feed.xml"  class="icon alt fa-rss" target="_blank">
    </a>
    </li>
    <li>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="icon alt fa-twitter" data-show-count="false" target="_blank">
        </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
        </script>
    </li>
    <li>
        <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" class="icon alt fa-facebook" rel="nofollow" target="_blank">
        </a>
    </li>
    <li>
        <a href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}"  class="icon alt fa-reddit-alien" target="_blank">
    </a>
    </li>
</ul>
